body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
}

input {
    margin: 5px;
    padding: 8px;
    width: 200px;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    margin: 5px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
}

pre {
    text-align: left;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}
